<form
        hx-post="/admin/addCours"
        hx-target="#courses-list"
        hx-swap="beforeend"
        method="POST"
        class="p-4 bg-white rounded shadow flex flex-col w-full max-w-md"
>

    <label for="nom" class="font-semibold mb-1">Nom du cours :</label>
    <input
            type="text"
            id="nom"
            name="nom"
            required
            class="border border-gray-300 p-2 rounded mb-4"
    />

    <label for="code" class="font-semibold mb-1">Code du cours :</label>
    <input
            type="text"
            id="code"
            name="code"
            required
            class="border border-gray-300 p-2 rounded mb-4"
    />
    <label for="semestre" class="font-semibold mb-1">Semestre</label>
    <!-- Input de type "choix" entre deux options : Automne ou Printemps -->
    <select
            id="semestre"
            name="semestre"
            required
            class="border border-gray-300 p-2 rounded mb-4"
    >
        <option value="Automne">Automne</option>
        <option value="Printemps">Printemps</option>
    </select>
    <label for="annee" class="font-semibold mb-1">Année :</label>
    <input
            type="text"
            id="annee"
            name="annee"
            required
            class="border border-gray-300 p-2 rounded mb-4"
    />
    <label for="prof" class="font-semibold mb-1">Professeur :</label>
    <input
            type="text"
            id="prof"
            name="prof"
            required
            class="border border-gray-300 p-2 rounded mb-4"
    />

    <label for="typeCours" class="font-semibold mb-1">Type :</label>
    <!-- Input de type "choix" entre deux options : Automne ou Printemps -->
    <select
            id="typeCours"
            name="typeCours"
            required
            class="border border-gray-300 p-2 rounded mb-4"
    >
        <option value="Python">Python</option>
        <option value="Java">Java</option>
    </select>

    <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 self-start"
    >
        Ajouter
    </button>
</form>
