version: "3.9"

services:
  backend:
    build:
      context: ./Backend
      dockerfile: src/main/docker/Dockerfile.jvm
      target: runtime
    image: zackrey27/assistantio-backend:latest
    container_name: assistantio_backend
    environment:
      - QUARKUS_PROFILE=prod

      # ======== DATABASE ========
      - QUARKUS_DATASOURCE_JDBC_URL=${QUARKUS_DATASOURCE_JDBC_URL}
      - QUARKUS_DATASOURCE_USERNAME=${QUARKUS_DATASOURCE_USERNAME}
      - QUARKUS_DATASOURCE_PASSWORD=${QUARKUS_DATASOURCE_PASSWORD}

      # ======== CORS  ========
      - PROD_CORS_ORIGINS=${PROD_CORS_ORIGINS}

      # ======== Logging Level  ========
      - LOG_LEVEL=${LOG_LEVEL}

      # ======== ZIP STORAGE ========
      # Always mapped to the volume, path referenced in application.properties
      - ZIP_STORAGE_PATH=/opt/app/data/zips

    ports:
      - "${HTTP_PORT:-8088}:8088"
    restart: unless-stopped
    networks:
      - app-network
      - db-network
    volumes:
      - /volume1/docker/assistantio/data:/opt/app/data

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    image: zackrey27/assistantio-frontend:latest
    container_name: assistantio_frontend
    depends_on:
      - backend
    ports:
      - "4200:80"
    networks:
      - app-network

volumes:
  aio_data:

networks:
  app-network:
  db-network:
    external: true
    name: postgresql_default
